{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block bodyclass %}homepage{% endblock %}

{% block body %}
<div class="jumbotron" id="homepage-jumbotron">
    <p class="lead">myTunes is a music review site. Login to leave and rate reviews of your favourite albums.</p>
</div>
<div class="container">
    <h1>Latest Reviews</h1>
    <div class="card-deck">
        <div class="card">
            <img src="https://via.placeholder.com/500" class="card-img-top" alt="">
            <div class="card-header">
                Album Name
            </div>
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="#">Read more...</a>
            </div>
            <div class="card-footer">
                By: George Broadley
            </div>
        </div>
        <div class="card">
            <img src="https://via.placeholder.com/500" class="card-img-top" alt="">
            <div class="card-header">
                Album Name
            </div>
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="#">Read more...</a>
            </div>
            <div class="card-footer">
                By: George Broadley
            </div>
        </div>
        <div class="card">
            <img src="https://via.placeholder.com/500" class="card-img-top" alt="">
            <div class="card-header">
                Album Name
            </div>
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="#">Read more...</a>
            </div>
            <div class="card-footer">
                By: George Broadley
            </div>
        </div>
        <div class="card">
            <img src="https://via.placeholder.com/500" class="card-img-top" alt="">
            <div class="card-header">
                Album Name
            </div>
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="#">Read more...</a>
            </div>
            <div class="card-footer">
                By: George Broadley
            </div>
        </div>
    </div>
    <h1>Newest Albums</h1>
    <div class="card-deck">
        <div class="card">
            <img src="https://via.placeholder.com/500" class="card-img-top" alt="">
            <div class="card-header">
                Album Name
            </div>
            <div class="card-body">
                Artist: Test
            </div>
            <div class="card-footer">
                <a href="#">View Album</a>
            </div>
        </div>
        <div class="card">
            <img src="https://via.placeholder.com/500" class="card-img-top" alt="">
            <div class="card-header">
                Album Name
            </div>
            <div class="card-body">
                Artist: Test
            </div>
            <div class="card-footer">
                <a href="#">View Album</a>
            </div>
        </div>
        <div class="card">
            <img src="https://via.placeholder.com/500" class="card-img-top" alt="">
            <div class="card-header">
                Album Name
            </div>
            <div class="card-body">
                Artist: Test
            </div>
            <div class="card-footer">
                <a href="#">View Album</a>
            </div>
        </div>
        <div class="card">
            <img src="https://via.placeholder.com/500" class="card-img-top" alt="">
            <div class="card-header">
                Album Name
            </div>
            <div class="card-body">
                Artist: Test
            </div>
            <div class="card-footer">
                <a href="#">View Album</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
