.copyright-footer {
    width: 100%;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #4E5D6C;

    p {
        text-align: center;
        margin: 0;
    }
}